<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="api-config" status="trace"
	monitorInterval="30">
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%X{sessionId}_%X{requestId} %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>

		<RollingFile name="RollingFile"
			fileName="${env:CATALINA_HOME}/logs/api-bnft-nwband-bpc/api-bnft-nwband-bpc.log"
			filePattern="${env:CATALINA_HOME}/logs/api-bnft-nwband-bpc/api-bnft-nwband-bpc-%d{MM-dd-yyyy}-%i.log">
			
			<PatternLayout
				pattern="%X{sessionId}_%X{requestId} %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
			
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.trinet.bnftnwbandbatchprocessor" level="Info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.springframework" level="Info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="Info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
